extends layout

block header
    .header.header_catalog
        .container

            .header_top.flex_row__between
                .flex_row__between
                    a(class='header_logo' href='')
                        img(src='img/logo.png' alt='')

                    .flex_column
                        ul.header_contact
                            li
                                a(class='link-spy' data-spy='.contact') Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»
                            li
                                a(class='' href='mailto:office@3206161.ru') office@3206161.ru

                        ul.header_nav.flex_row__start
                            li
                                a(class='link-spy' data-spy='.cash h2') Кассы
                            li
                                a(class='link-spy' data-spy='.step h2') Оплата
                            li
                                a(class='link-spy' data-spy='.contact') Доставка
                            li
                                a(class='link-spy' data-spy='.contact') Контакты

                .header_call.flex_column
                    a(class='' href='tel:88123206161') 8 (812) 320-61-61
                    button(class='btn inverted' type='button') Заказать звонок

            //header_top__mob begin ========
            .header_top.header_top__mob.flex_row__between

                button(class='burger' type='button')
                    i

                .header_sidebar

                    ul.header_nav.flex_row__between
                        li
                            a(class='link-spy' data-spy='.sanction') Штрафы
                        li
                            a(class='link-spy' data-spy='.suit') Для кого подойдет
                        li
                            a(class='link-spy' data-spy='.cash') Кассы
                        li
                            a(class='link-spy' data-spy='.step') Этапы работы
                        li
                            a(class='link-spy' data-spy='.contact') Контакты
                    ul.header_contact.header_contact__mob
                        li
                            a(class='link-spy' data-spy='.contact') Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»
                        li
                            a(class='' href='mailto:office@3206161.ru') office@3206161.ru
                    .header_call.header_call__mob.flex_column
                        a(class='' href='tel:88123206161') 8 (812) 320-61-61
                        button(class='btn inverted' type='button') Заказать звонок

                a(class='header_logo' href='')
                    img(src='img/logo.png' alt='')

                .header_call.flex_column
                    a(class='' href='tel:88123206161') 8 (812) 320-61-61
                    button(class='btn inverted' type='button') Заказать звонок
            //header_top__mob end ========

block content
    .catalog
        .container

            .catalog_content.flex_row__between.align_start

                .catalog_menu
                    h2 Каталог
                    ul
                        li
                            a(href='') Кассовые аппараты
                        li
                            a(href='') Фискальные регистраторы
                        li
                            a(href='') Сканеры штрихкодов

                block catalog-content

block contact
    .catalog.catalog_contact
        .container
            .flex_row__start
                .catalog_contact__logo
                    img(src='img/logo-footer.png' alt='лого компании, продающей кассовые аппараты.')
                ul.flex_column
                    li e-mail: <br> <a href='mailto:office@3206161.ru'>office@3206161.ru</a>
                    li Адрес: <br> Санкт-Петербург, пр. Энгельса, д. 124, к. 1 ТРК «Вояж», пятый вход (дальний от метро), В этаж, офис 55-Н
