.checkbox {
	height: 26px;
}

.checkbox input + label {
	cursor: pointer;
}

.checkbox input:not(checked) {
	position: absolute;
	opacity: 0;
}

.checkbox input:not(checked) + label {
	position: relative;
	padding: 5px 0 5px 50px;
}

.checkbox input:not(checked) + label:before {
	content: "";
	position: absolute;
	top: -3px;
	left: 0;
	width: 26px;
	height: 26px;
	border-radius: 3px;
	background: #cdd1da;
}

.checkbox input:not(checked) + label:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: 13px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	transition: .13s;
	background: url(/img/check-mark.svg);
	-webkit-background-size: cover;
	background-size: cover;
	transform: scale(.8);
}

.checkbox input:checked + label:after {
	opacity: 1;
	transition: .13s;
	transform: scale(1);
}


