@import "common"

.header.header_catalog {
	padding-bottom: 40px
	background: #ffffff
	.header_logo {
		margin-right: 40px
	}
}

.catalog, .catalog h1, .catalog h2, .catalog h3, .catalog h4, .catalog p, .catalog a {
	font-family: catalogFont
	font-weight: 400
}

.catalog_title {
	padding-bottom: 5px
	font-size: 39px
}

.crumbs {
	a {
		position: relative
		text-decoration: underline
		font-size: 14px
		color: linkCol
		&:hover {
			text-decoration: none
		}
	}
	a:last-child {
		text-decoration: none
		pointer-events: none
		color: textCol
	}
	&_arrow {
		display: inline-block
		margin-left: 5px
		margin-right: 5px
		width: 16px
		height: 100%
		&:before {
			content: '→'
		}
	}
}

.divider-dashed {
	margin: 14px 0 14px 0
	width: 100%
	height: 2px
	background: url(/img/divider-dashed.jpg)
}

.catalog_buy {
	position: relative
	margin: 25px 0 5px 0
	padding-left: 22px
	max-width: 165px
	width: 100%
	height: 48px
	font-size: 16px
	color: #034b67
	border: 1px solid #9ce2d4
	border-radius: 100px
	text-align: left
	background: transparent
	transition: .3s
	&:before {
		content: ''
		position: absolute
		top: -1px
		right: 0
		width: 46px
		height: 46px
		border-radius: 100px
		background: #1a9cd4 url(/img/shopping-cart.svg) no-repeat 10px 10px
		background-size: 26px
		box-shadow: 1px 1px 0 1px #0d76a5
		transition: .2s
	}
	&:hover:before {
		background-color: #0d76a5
	}
}

.catalog_menu {
	margin-right: 15px
	padding-bottom: 20px
	min-width: 255px
	background: #f7f7f7
	border-radius: 20px
	border: 1px solid #efefef
	box-shadow: 2px 2px 0 1px rgba(0,0,0,.20);
	h2 {
		margin: 0
		padding: 21px 0 15px 0
		font-size: 24px
		line-height: 28px
		text-transform: uppercase
		color: #9e9e9e
		font-weight: 600
	}
	li {
		position: relative
		&:nth-child(1) {
			a:before {
				background-position: -6px -7px
			}
		}
		&:nth-child(2) {
			a:before {
				background-position: -6px -47px
			}
		}
		&:nth-child(3) {
			a:before {
				background-position: -6px -85px
			}
		}
		a {
			display: block
			padding: 12.5px 10px 12.5px 54px
			width: 100%
			height: 100%
			font-size: 14px
			&:before {
				content: ''
				position: absolute
				top: 5px
				left: 10px
				width: 34px
				height: 34px
				background: url(/img/iconset-catalog.png)
			}
			&:hover {
				text-decoration: underline
			}
		}
	}
}


.catalog_contact {
	margin-top: 40px
	padding: 60px 0 10px 0
	min-height: 220px
	background: blue url(/img/bg-catalog-contact.jpg) left top
	-webkit-background-size: cover
	background-size: cover
	color: lightCol
	a {
		color: lightCol
	}
	ul {
		margin-left: 5%
		width: 400px
		li {
			position: relative
			margin-bottom: 15px
			padding-left: 30px
			color: lightCol
			font-size: 14px
			line-height: 23px
			&:before {
				content: ''
				position: absolute
				top: 2px
				left: 0
				width: 26px
				height: 26px
				background: url(/img/iconset-catalog.png)
			}
			&:nth-child(1) {
				&:before {
					background-position: -48px -5px
				}
			}
			&:nth-child(2) {
				&:before {
					background-position: -47px -34px
				}
			}
		}
	}
}

@media (max-width: 750px) {
	.catalog_contact {
		padding-top: 45px
		img {
			display: block
			width: 200px
		}
		ul {
			width: 100%
		}
	}
}

@media (max-width: 480px) {
	.catalog_contact {
		img {
			display: none
		}
		ul {
			margin: 0
		}
	}
}