@import "components/common"

.card {
	width: 100%
}


.gallery {
	display: flex
	flex-direction: column
	align-items: center
	margin: 35px 20px 40px 73px
	width: 210px
	&_current {
		display: flex

	}
	&_set {
		display: flex
		justify-content: space-between
		margin-top: 55px
		width: 100%
		img {
			padding: 10px
			max-width: 65px
			max-height: 65px
			border: 1px solid #e6e6e6
			border-radius: 9px
			transition: .1s
			cursor: pointer
			&.active {
				border: 2px solid #82c9e8
			}
		}
	}
}


.brief {
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	margin-bottom: 40px
	padding: 0 15px 15px 15px 15px
	width: 355px
	border: 1px solid #82c9e8
	border-radius: 20px
	&:before {
		content: ''
		position: absolute
		z-index: -1
		left: 3px
		right: 3px
		top: 3px
		bottom: 3px
		box-sizing: border-box
		border: 1px solid #acedb4
		border-radius: 20px
	}
	h3 {
		margin: 28px 0 20px 0
		font-size: 16px
		text-transform: uppercase
	}
	p {
		margin-top: 40px
		font-family: cardFont !important
		font-weight: 300
		text-align: center
	}
	.catalog_buy {
		margin: 0
		min-width: 265px
		font-family: cardFont
		font-size: 21px
		border: none
		background: #eeeeee
		&:before {
			content: 'КУПИТЬ'
			box-sizing: border-box
			top: 0
			padding: 13px 0 8px 58px
			width: 140px
			font-size: 18px
			color: lightCol
			background-position-x: 20px
		}
	}
	&_popup {
		position: absolute
		z-index: 100
		transform: translateY(100%)
		bottom: 87px
		margin-top: 7px
		padding: 4px 10px 10px 10px
		width: 310px
		font-family: cardFont
		font-size: 14px
		line-height: 16px
		border-radius: 20px
		&__open {
			display: block
			margin: 0 auto
			font-family: cardFont
			font-size: 18px
			font-weight: 300
			color: linkCol
			text-decoration: underline
			background: transparent
			&:hover {
				text-decoration: none
			}
		}
		&__close {
			position: absolute
			top: 6px
			right: 6px
			width: 17px
			height: 17px
			background: url(/img/close.svg)
			background-size: cover
		}
		ul {
			margin-top: 15px
			li {
				font-family:cardFont
				font-size: 14px
			}
		}
		&__hidden {
			display: none
		}
		&.active {
			border: 1px solid #2ea1d8
			background: lightCol
			.brief_popup__hidden {
				display: block
			}
			.brief_popup__open {
				text-decoration: none
				cursor: default
			}
		}
	}
}

.card {
	.tab {
		&_wrap {
			width: 100%
		}
		&_title {
			justify-content: flex-start
			&__item {
				position: relative
				bottom: -1px
				padding: 10px 25px 10px 25px
				border-bottom: 1px solid #dddddd
				border-radius: 7px 7px 0 0
				transition: none
				&.active {
					border: 1px solid #dddddd
					border-bottom: 4px solid white
				}
			}
		}
		&_content {
			&__item {
				padding: 25px 45px 25px 45px
				border: none
				&.active {
					border: 1px solid #dddddd
				}
			}
		}
	}
}

.card {
	&_option {
		position: relative
		border: 1px solid #dddddd
		&__title {
			display: block
			margin: 0 auto
			margin-bottom: 20px
			width: 182px
			font-family: cardFont
			font-size: 16px
			text-transform: uppercase
			text-align: center
			border-bottom: 1px dotted black
		}
		.checkbox {
			min-height: 39px
			height: auto
			border-bottom: 1px solid #dddddd
			&:last-child {
				border: none
			}
			&:before,
			&:after {
				content: ''
				position: absolute
				top: 0
				z-index: 0
				width: 1px
				height: 100%
				background: #dddddd
			}
			&:before {
				left: 39px
			}
			&:after {
				right: 137px
			}
			label {
				display: flex
				justify-content: space-between
				align-items: center
				min-height: 100%
				font-weight: 300
				.card_option__name {
					padding: 5px 10px 5px 0
					font-family: cardFont
				}
				.card_option__price {
					padding: 0 5px 0 14px
					min-width: 137px
					width: 137px
					font-family: cardFont
				}
			}
			input {
				display: none
			}
			input:not(checked) + label:before {
				width: 17px
				height: 17px
				top: 50%
				transform: translateY(-50%)
				left: 10px
				border: 1px solid #2ea1d8
				background: transparent
			}
		}
	}
	.card_option__result {
		.card_option__sum {
			margin: 20px 0 20px 0
			font-family: cardFont
			font-size: 22px
			font-weight: 300
			b {
				font-weight: 400
			}
		}
		.card_option__order {
			width: 130px
			height: 40px
			font-family: cardFont
			font-size: 18px
			font-weight: 300
			color: lightCol
			text-transform: uppercase
			border-radius: 20px;
			background-image: -moz-linear-gradient( 0deg, rgb(107,175,215) 0%, rgb(83,209,127) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(107,175,215) 0%, rgb(83,209,127) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(107,175,215) 0%, rgb(83,209,127) 100%);
			box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.004);
		}
	}
}


@media (max-width: 980px) {
	.card {
		margin-top: 45px
	}
}

@media (max-width: 750px) {
	.card {
		.gallery {
			margin-left: 20px
		}
		&_option {
			border-left: none
			border-right: none
		}
		.tab_content__item {
			padding-left: 15px
			padding-right: 15px
			&.option {
				padding-left: 0
				padding-right: 0
			}
		}
		.card_option__result {
			padding-right: 20px
		}
	}
}

@media (max-width: 700px) {
    .card_first {
		flex-direction: column
		align-items: center
    }
	.card_option {
		.checkbox {
			&:after {
				right: 115px
			}
			label {
				.card_option__price {
					min-width: 120px
					width: 120px
				}
			}
		}
	}
}

@media (max-width: 500px) {
    .brief {
	    width: 100%
	    padding: 0 8px 8px 8px 8px
    }
	.card_option {
		font-size: 14px
		.checkbox {
			&:after {
				right: 100px
			}
			label {
				.card_option__price {
					min-width: 100px
					width: 100px
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.brief {
		div {
			padding: 0 7px 0 7px
			width: 100%
		}
		.catalog_buy {
			display: block
			min-width: 100%
			font-size: 18px
			&:before {
				width: 130px
				font-size: 16px
			}
		}
	}
}

