@import "components/common"

.catalog_product {
	width: 100%
	flex-wrap: wrap
	&__item {
		position: relative
		justify-content: space-between
		margin: 0 0 25px 0
		padding-bottom: 28px
		width: 32%
		&.border-bottom:before {
			content: ''
			position: absolute
			bottom: 0
			width: 100%
			height: 2px
			background: url(/img/divider-dashed.jpg)
			background-repeat-y: none
		}
		.item_part {
			display: flex
			flex-direction: column
			align-items: center
			width: 100%
		}
	}
	img {
		max-width: 160px
		max-height: 160px
	}
	&__title {
		color: linkCol
		text-decoration: underline
		&:hover {
			text-decoration: none
		}
		img {
			padding-top: 25px
		}
	}
	&__more {
		font-size: 14px
		text-decoration: underline
		color: #9e9e9e
		&:hover {
			text-decoration: none
		}
	}
}

@media (max-width: 980px) {
	.catalog_content.flex_row__between.align_start {
		flex-direction: column
	}
	.catalog_product {
		margin-top: 30px
	}
}

@media (max-width: 750px) {
	.catalog_product {
		&__item {
			width: 48%
		}
	}
}

@media (max-width: 500px) {
	.catalog_product {
		&__item {
			width: 100%
			&:last-child {
				border: none
			}
		}
	}
}
