extends  pug-components/catalog-layout

block crumbs
    .catalog
        .container
            h1.catalog_title Эватор
            .crumbs
                a(class='crumbs_item' href='index.html') Главная
                span.crumbs_arrow
                a(class='crumbs_item' href='catalog.html') Кассовые аппараты
                span.crumbs_arrow
                a(class='crumbs_item' href='') Эватор

            .divider-dashed

block catalog-content
    .card
        .flex_row__between.card_first

            .gallery
                .gallery_current
                    img(src='img/cash1.png')
                .gallery_set.flex_row__between
                    img(class='active' src='img/cash1.png')
                    img(src='img/cash2.png')
                    img(src='img/cash3.png')

            .brief
                h3 Цена кассы
                div
                    button(class='catalog_buy' type='button') 8 120 руб.
                h3 Цена кассы под ключ
                div
                    button(class='catalog_buy' type='button') 16 120 руб.
                .brief_popup
                    button(class='brief_popup__open' type='button') Что входит?
                    .brief_popup__hidden
                        button(class='brief_popup__close' type='button')
                        ul
                          li - Касса
                          li - Усиленная квалифицированная электронная подпись
                          li - Лицензия CryptoPro CSP
                          li - Etoken (сертифицированный носитель)
                          li - Лицензия ОФД «Электронный Экспресс»
                          li - Модернизация ККТ для работы с фискальным накопителем
                          li - Комплекс работ по вводу в эксплуатацию ККТ
                          li - Техническое сопровождение ЦТО в месяц/квартал
                          li - Фискальный накопитель ФН-1
                p Полная установка под ключ <b>дешевле</b>, чем услуги по отдельности

        .tab_wrap
            .tab_title
                .tab_title__item.active Услуги
                .tab_title__item Описание

            .tab_content
                .tab_content__item.option.active
                    span.card_option__title Выберите свой вариант

                    .card_option

                        .checkbox
                            input(id='checkbox-1' type='checkbox' checked disabled)
                            label(for='checkbox-1')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-2' type='checkbox')
                            label(for='checkbox-2')
                                span.card_option__name Усиленная квалифицированная электронная подпись
                                span.card_option__price 81 230 руб.

                        .checkbox
                            input(id='checkbox-3' type='checkbox')
                            label(for='checkbox-3')
                                span.card_option__name Модернизация ККТ для работы с фискальным накопителем
                                span.card_option__price 20 120 руб.

                        .checkbox
                            input(id='checkbox-4' type='checkbox')
                            label(for='checkbox-4')
                                span.card_option__name Усиленная квалифицированная электронная подпись квалифицированная электронная подпись
                                span.card_option__price 1 120 руб.

                        .checkbox
                            input(id='checkbox-5' type='checkbox')
                            label(for='checkbox-5')
                                span.card_option__name Модернизация ККТ для работы с фискальным накопителем
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-6' type='checkbox')
                            label(for='checkbox-6')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-7' type='checkbox')
                            label(for='checkbox-7')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-8' type='checkbox')
                            label(for='checkbox-8')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 100 020 руб.

                    .card_option__result.flex_column.align_end
                        .card_option__sum
                            div <b> Итого:</b> <span class='numer'></span> руб.
                        button(class='card_option__order' type='button') Заказать


                .tab_content__item
                    p | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.