extends  pug-components/catalog-layout

block crumbs
    .catalog
        .container
            h1.catalog_title Эватор
            .crumbs
                a(class='crumbs_item' href='index.html') Главная
                span.crumbs_arrow
                a(class='crumbs_item' href='catalog.html') Кассовые аппараты

            .divider-dashed

block catalog-content
    .catalog_product.flex_row__start

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash3.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash1.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash2.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        //.divider-dashed

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash3.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash1.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее