extends pug-components/layout

block content
    include pug-components/sanction
    include pug-components/suit
    include pug-components/cash
    include pug-components/step
    include pug-components/option
    include pug-components/faq
    include pug-components/order
    include pug-components/feature